{% extends '@UxGoodColorAdmin/color-admin/main.html.twig' %}
{% set bodyattr='class="pace-top"' %}
{#
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/plugins/jquery-ui/jquery-ui.min.css', UxGoodColorAdmin) }}" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css', UxGoodColorAdmin) }}" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css', UxGoodColorAdmin) }}" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/plugins/animate/animate.min.css', UxGoodColorAdmin) }}" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/css/default/style.min.css', UxGoodColorAdmin) }}" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/css/default/style-responsive.min.css', UxGoodColorAdmin) }}" rel="stylesheet" />
	<link href="{{ asset('color-admin/assets/css/default/theme/default.css', UxGoodColorAdmin) }}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ asset('color-admin/assets/plugins/pace/pace.min.js', UxGoodColorAdmin) }}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
#}	
{% block page_container %}
	<div class="login-cover">
	    <div class="login-cover-image" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-17.jpg', UxGoodColorAdmin) }})" data-id="login-cover-image"></div>
	    <div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> <b>Color</b> Admin
                    <small>responsive bootstrap 3 admin template</small>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <!-- end brand -->
            <!-- begin login-content -->
            <div class="login-content">
                <form action="{{ path('uxgood_coloradmin_security_logincheck') }}" method="POST" class="margin-bottom-0">
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control form-control-lg" placeholder="Email Address" name="_username" value="{{ username??'' }}" required />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" class="form-control form-control-lg" placeholder="Password" name="_password" required />
                    </div>
                    <div class="checkbox checkbox-css m-b-20">
                        <input type="checkbox" id="remember_checkbox" name="_remember_me" /> 
                        <label for="remember_checkbox">
                        	Remember Me
                        </label>
                    </div>
                    <div class="login-buttons">
                        <input type="hidden" name="_target_path" value="{{ target_path?? path('uxgood_coloradmin_coloradmin_index') }}" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                    </div>
{% if error %}
                    <div class="m-t-20">
                    <h5 class="text-danger text-center">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </h5>
                    </div>
{% endif %}
                    <div class="m-t-20">
                        Not a member yet? Click <a href="javascript:;">here</a> to register.
                    </div>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end login -->
        
        <ul class="login-bg-list clearfix">
            <li class="active"><a href="javascript:;" data-click="change-bg" data-img="{{ asset('color-admin/assets/img/login-bg/login-bg-17.jpg', UxGoodColorAdmin) }}" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-17.jpg', UxGoodColorAdmin) }})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{{ asset('color-admin/assets/img/login-bg/login-bg-16.jpg', UxGoodColorAdmin) }}" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-16.jpg', UxGoodColorAdmin) }})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{{ asset('color-admin/assets/img/login-bg/login-bg-15.jpg', UxGoodColorAdmin) }}" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-15.jpg', UxGoodColorAdmin) }})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{{ asset('color-admin/assets/img/login-bg/login-bg-14.jpg', UxGoodColorAdmin) }}" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-14.jpg', UxGoodColorAdmin) }})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{{ asset('color-admin/assets/img/login-bg/login-bg-13.jpg', UxGoodColorAdmin) }}" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-13.jpg', UxGoodColorAdmin) }})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{{ asset('color-admin/assets/img/login-bg/login-bg-12.jpg', UxGoodColorAdmin) }}" style="background-image: url({{ asset('color-admin/assets/img/login-bg/login-bg-12.jpg', UxGoodColorAdmin) }})"></a></li>
        </ul>
        
{% block page_theme_panel %}
        <!-- begin theme-panel -->
        <div class="theme-panel theme-panel-lg">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="{{ asset('color-admin/assets/css/default/theme/red.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="{{ asset('color-admin/assets/css/default/theme/pink.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="{{ asset('color-admin/assets/css/default/theme/orange.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="{{ asset('color-admin/assets/css/default/theme/yellow.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="{{ asset('color-admin/assets/css/default/theme/lime.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="{{ asset('color-admin/assets/css/default/theme/green.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-teal" data-theme="default" data-theme-file="{{ asset('color-admin/assets/css/default/theme/default.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="{{ asset('color-admin/assets/css/default/theme/aqua.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="{{ asset('color-admin/assets/css/default/theme/blue.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="{{ asset('color-admin/assets/css/default/theme/purple.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="{{ asset('color-admin/assets/css/default/theme/indigo.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="{{ asset('color-admin/assets/css/default/theme/black.css', UxGoodColorAdmin) }}" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Header Styling</div>
                    <div class="col-md-6">
                        <select name="header-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Header</div>
                    <div class="col-md-6">
                        <select name="header-fixed" class="form-control form-control-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Styling</div>
                    <div class="col-md-6">
                        <select name="sidebar-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Sidebar</div>
                    <div class="col-md-6">
                        <select name="sidebar-fixed" class="form-control form-control-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Gradient</div>
                    <div class="col-md-6">
                        <select name="content-gradient" class="form-control form-control-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Content Styling</div>
                    <div class="col-md-6">
                        <select name="content-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Direction</div>
                    <div class="col-md-6">
                        <select name="direction" class="form-control form-control-sm">
                            <option value="1">LTR</option>
                            <option value="2">RTL</option>
                        </select>
                    </div>
                </div>
                <div class="divider"></div>
                <h5>THEME VERSION</h5>
                <div class="theme-version">
                	<a href="../template_html/index_v2.html" class="active">
                		<span style="background-image: url({{ asset('color-admin/assets/img/theme/default.jpg', UxGoodColorAdmin) }});"></span>
                	</a>
                	<a href="../template_transparent/index_v2.html">
                		<span style="background-image: url({{ asset('color-admin/assets/img/theme/transparent.jpg', UxGoodColorAdmin) }});"></span>
                	</a>
                </div>
                <div class="theme-version">
                	<a href="../template_apple/index_v2.html">
                		<span style="background-image: url({{ asset('color-admin/assets/img/theme/apple.jpg', UxGoodColorAdmin) }});"></span>
                	</a>
                	<a href="../template_material/index_v2.html">
                		<span style="background-image: url({{ asset('color-admin/assets/img/theme/material.jpg', UxGoodColorAdmin) }});"></span>
                	</a>
                </div>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="javascript:;" class="btn btn-inverse btn-block btn-rounded" data-click="reset-local-storage"><b>Reset Local Storage</b></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
{% endblock %}
	</div>
	<!-- end page container -->
{% endblock %}
{#	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ asset('color-admin/assets/plugins/jquery/jquery-3.2.1.min.js', UxGoodColorAdmin) }}"></script>
	<script src="{{ asset('color-admin/assets/plugins/jquery-ui/jquery-ui.min.js', UxGoodColorAdmin) }}"></script>
	<script src="{{ asset('color-admin/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js', UxGoodColorAdmin) }}"></script>
	<!--[if lt IE 9]>
		<script src="{{ asset('color-admin/assets/crossbrowserjs/html5shiv.js', UxGoodColorAdmin) }}"></script>
		<script src="{{ asset('color-admin/assets/crossbrowserjs/respond.min.js', UxGoodColorAdmin) }}"></script>
		<script src="{{ asset('color-admin/assets/crossbrowserjs/excanvas.min.js', UxGoodColorAdmin) }}"></script>
	<![endif]-->
	<script src="{{ asset('color-admin/assets/plugins/slimscroll/jquery.slimscroll.min.js', UxGoodColorAdmin) }}"></script>
	<script src="{{ asset('color-admin/assets/plugins/js-cookie/js.cookie.js', UxGoodColorAdmin) }}"></script>
	<script src="{{ asset('color-admin/assets/js/theme/default.min.js', UxGoodColorAdmin) }}"></script>
	<script src="{{ asset('color-admin/assets/js/apps.min.js', UxGoodColorAdmin) }}"></script>
	<!-- ================== END BASE JS ================== -->
#}	
{% block page_javascripts %}
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{{ asset('color-admin/assets/js/demo/login-v2.demo.min.js', UxGoodColorAdmin) }}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
	</script>
{% endblock %}
{#
</body>
</html>
#}
